/* simple css to show/hide*/
.popin {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
}

.popin:before {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 125ms;
}

.popin-content {
    background: #FFF;
    border-radius: 20px;
    bottom: 0;
    display: table;
    height: 450px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 550px;
    transition: all 125ms;
}

.in-content {
    display: table-cell;
    vertical-align: middle;
}

.popin-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.open-popin {
    cursor: pointer;
}

.active.popin {
    visibility: visible;
}

.active.popin:before {
    background: rgba(0, 0, 0, .8);
}

.active .popin-content {
    border-radius: 0;
    height: 400px;
    width: 500px;
}

    